<div *ngIf="total" class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <nav aria-label="Navigation">
      <ul class="pagination">
        <li class="page-item">
          <a id="last" class="page-link" *ngIf="last != 0" (click)="LastPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngIf="last != 0"><a class="page-link"><b>{{last}}</b></a></li>
        <li class="page-item disabled"><a id="separator" class="page-link" href="#"><b>{{page}}</b></a></li>
        <li class="page-item" *ngIf="page != next && next <= pages"><a class="page-link"><b>{{next}}</b></a></li>
        <li class="page-item">
          <a id="next" class="page-link" *ngIf="next <= pages" (click)="NextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-4"></div>
</div>
